body {
    font-family: 'courier';
    margin: 10px;
}

h2.error {
    color: red;
}

a {
    font-size: small;
}

a.nav {
    font-size: x-large;
}

.hint {
    font-size: small;
}

.timescale {
    font-size: large;
}

span.login {
    float: right;
}

span.remove {
    float: right;
}

table {
    font-size: small;
}

table.sparkline td {
    padding: 5px;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sortable li {
    font-size: small;
    padding: 20px;
    float: left;
    width: 500px;
    height: 330px;
}

#post_float {
    clear: both;
}
